body {
    padding: 32px;
    background-color: #f8f8f8;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px 32px;
}

section img {
    box-shadow: 8px 8px 32px -6px rgba(0,0,0,0.4);
    border-radius: 2em;
    transform: rotate3d(1, 1, .5, 170deg);
}